*.jpg
*.JPG
*.png
*.PNG
*.gif
*.mp4
*.mp3
*.flv
*.jpeg
*.JPEG
*.fla
*.wav
*.csv
*.swf
*.tar.gz
*.zip
*.mo
*.bmp
*.ppt
*.doc
*.svn-base
*.pdf
*.xml
*.log
*.txt
*.sql
/app/storage/
/public/images/
/node_modules
/public/hot
/public/robots.txt
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
composer.phar